.sidebar {
  width: 18%;
  min-height: 100vh;
  border: 1.5px solid rgb(235, 215, 176);
  border-top: 0;
  font-size: max(1vw, 10px);
}

.sidebar-options {
  padding-top: 50px;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-option {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid rgb(235, 215, 176);
  border-radius: 0;
  padding: 8px 10px;
  border-radius: 3px 0px 0px 3px;
  cursor: pointer;
  border-right: 0px;
}

.sidebar-option.active {
  background-color: rgb(252, 164, 2);
  /* border-color: tomato; */
}

@media (max-width: 900px) {
  .sidebar-option p {
    display: none;
  }
}
